@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<AdvancedEship.Models.Product>
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Just Arrived   </span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        @foreach (var product in Model)
        {


            <partial name="_Product" model="product" />

         

        }
    </div>
</div>